.app-search{
    margin-top: 15px;
    margin-left: 16%;
    margin-right: 16%;
}

.app-search-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid gray;
}