*{
    font-family:'Ubuntu', sans-serif;
    font-size: 20px;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.App-header{
    display: flex;
    max-height: 70px;
    background-color: rgb(0, 0, 0);
    color: rgb(193, 253, 255);
    padding: 15px;
    justify-content: center;
    align-items: center;
}
h1{
    background-color: black;
}