.btn{
    background-color: rgb(201, 251, 255);
    border-radius: 10px;
    color: black;
    padding: 7px 10px;
    font-size: 15px;
    margin: 10px;
    border: 2px solid rgb(145, 202, 255)
}

.btn:hover{
    cursor: pointer;
}

